.DS_Store
*.tiff
*.png
*.jpeg
*.jpg
./resources/*/*.tiff
./resources/*/*.png
./resources/*/*.jpeg
./resources/*/*.jpg
./output/*.tiff
./output/*.png
./output/*.jpeg
./output/*.jpg
.idea/*
__pycache__
